---
import { cn } from '@/lib/utils'

interface Props {
  label: string
  class?: string
}

const { label, class: className } = Astro.props
const keyParts = label.includes('⌘') ? label.split('') : [label]
---

<kbd
  class={cn(
    'border-border bg-muted/60 text-muted-foreground hidden items-center rounded-sm border px-1.5 py-0.5 text-[10px] font-medium tracking-normal normal-case',
    className,
  )}
>
  {
    keyParts.map((part) => (
      <span
        class={cn(
          part === '⌘' && 'text-[12px] leading-none',
          part !== '⌘' && keyParts.length > 1 && 'leading-none',
        )}
      >
        {part}
      </span>
    ))
  }
</kbd>
